/*Common*/
body {
  width: 80%;
  background-color: #F2F2F2;
  color: #063A69;
  font-weight: bold;
  margin: 30px auto 0;
}
button {
  cursor: pointer;
  background-color: #9DC3E6;
  border: 1px solid black;
  padding: 0 15px;
  margin-left: 30px;
  border-radius: 5px;
  color: #063A69;
}
button>a{
  text-decoration: none;
}
*.message{
  color: red;
  font-size: 80%;
}
span.asterisk{
  color: red;
}
input {
  border: solid black 1px;
  border-collapse: collapse;
  border-radius: 3px;
  width: max-content;
}
/*Search page*/
input.search {
  height: 40px;
  width: 30%;
}

table.search {
  margin-top: 3em;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

  & tr:nth-child(odd) {
    background-color: #E3E9FD;
  }

  & td, & th {
    border: 1.5px solid rgba(29, 29, 29, 0.75);
    text-align: center;
    padding: 8px;
  }
  & th {
    background-color: #D6DCE5;
  }
  & td {
    text-align: left;
    font-weight: normal;
  }
}

/*Pagination*/
div.pagination {
  text-align: right;
  font-weight: normal;
}
/*Create page*/
body.tsuika{
  font-size: 20px;
  margin-left: 25%;
  & button {
  margin-left: 50px;
  padding: 4px 20px;
}
}

table.tsuika {
  margin-left: 10%;
  padding-top: 50px;
  font-size: 20px;
  & td {
    padding-top: 20px;
    padding-left: 10px;
  }
  & input{
    height: 20px;
    width: 200px;
    padding-right:50px ;
  }
}
/*Login*/
body.login{
  font-size: 15px;
  margin-left: 15%;}
 & div {
    margin-left: 20%;
    & table{
      margin-bottom: 30px;
      & td {
        padding: 10px 10px;
      }
      & input {
        width: auto;
        height: 20px;
        padding-right:50px;
      }
    }
    & button{
      padding: 5px 30px;
      margin-left: 10em;
    }
}
body.koushin {
  margin-left: 20%;
  & button{
    margin-left: 1em;
  }
}
body.confirm {
  margin-left: 16%;
  & table.confirm {
    border-collapse: collapse;
    & th, & td {
      border: solid black 1px;
      font-weight: normal;
      text-decoration: none;
    }
    & th {
      width: 8em;
      text-align: left;
    }
    & td {
      width: 16em;
    }

  }
  & button{
    margin-left: 1em;
  }
}
body.complete {
  margin-left: 25%;
}
div.message{
  margin-left: 15%;
  & p {
    font-size: 18px;
    margin: 100px 0 100px 5%;
  }
  & button {
    margin-left: 10%;
  }
}