
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}


.center-table {
    display: inline;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: max-content;
}

table {
    border-collapse: collapse;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 600px;
}

tr {
    border-bottom: 1px solid #ccc;
}

td, th {
    padding: 10px;
}

strong {
    color: #000;
}

span {
    color: #555;
    left:500px;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 5px;
}
button.delete{
    background-color: red;
}


button:hover {
    background-color: #2980b9;
}
