

        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            background-image: url("../img/404.png");
        }
        .topright {
          position: absolute;
          top: 240px;
          right: 320px;
          font-size: 18px;
        }