<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" type="image/x-icon" th:href="@{/img/dxc.ico}" />
    <link th:href="@{/css/employee_detail.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>更新</title>
</head>
<body>
<h1>更新</h1>
<form th:action="@{/Employee/modify/{id}(id=${employee.id})}" method="POST">
    <table>
        <tr>
            <td>名前</td>
            <td><input type="text" th:field="*{employee.employee_name}" required/></td>
        </tr>
        <tr>
            <td>メール</td>
            <td><input type="email" th:field="*{employee.email}" required/></td>
        </tr>
        <tr>
            <td>電話番号</td>
            <td><input type="tel" th:field="*{employee.phone_number}" required/></td>
        </tr>
        <tr align="center">
            <td><button type="submit">OK</button></td>
            <td><button><a href="/Employee">戻す</a></button></td>
        </tr>
    </table>
</form>
<p style="color:red" th:utext="${message}"></p>
</body>
</html>