<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" type="image/x-icon" th:href="@{/img/dxc.ico}" />
    <link th:href="@{/css/employee.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>検索</title>
</head>
<body>
    <form th:action="@{/Employee/search}" method="get">
        <input type="text" name="employee_name" placeholder="Search..." size="30" >
        <button type="submit">検索</button>
    </form>
<br>
<table border="1">
    <tr>
        <th>ID</th>
        <th>名前</th>
        <th>メール</th>
        <th>電話番号</th>
        <th>操作</th>
    </tr>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.id}"></a></td>
        <td th:text="${employee.employee_name}"></td>
        <td th:text="${employee.email}"></td>
        <td th:text="${employee.phone_number}"></td>
        <td><a th:href="@{/Employee/{id}(id=${employee.id})}" th:text="更新"></a></td>
    </tr>
</table>
    <button class="modoru"><a href="/Employee">戻す</a></button>
</body>
</html>