<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <link rel="icon" type="image/x-icon" th:href="@{/img/dxc.ico}" />
    <link th:href="@{/css/base.css}" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/base.css">
    <meta charset="UTF-8">
    <title>Employee Information</title>
</head>
<body>
    <span>新規会員追加<a href="/Employee/create"><button>追加</button></a></span>
    <a href="/login"><button style="margin-left:80% ">ログアウト</button></a>
    <form th:action="@{Employee}">
        <input style="height: 1.5em" type="text" name="employee_name" id="employee_name" size="50" th:value="${keyword}"/>
        <button type="submit">検索</button>
    </form>
    <p style="color:red" th:utext="${message}"></p>
    <br>
    <table class="search">
        <tr>
            <th style="width:15%">ID</th>
            <th style="width:30%">名前</th>
            <th style="width:30%">メール</th>
            <th style="width:30%">電話番号</th>
        </tr>
        <tr th:each="employee : ${employees}">
            <td><a th:href="@{/Employee/{id}(id=${employee.id})}" th:text="${employee.id}"></a></td>
            <td th:text="${employee.employee_name}"></td>
            <td th:text="${employee.email}"></td>
            <td th:text="${employee.phone_number}"></td>
        </tr>
    </table>
    <div th:if="${employees.totalPages > 0}"  class="pagination">
        <th:block th:each="pageNumber : ${pageNumbers}">
            <a th:href="@{/Employee(size=${employees.size}, page=${pageNumber})}"
               th:text="${pageNumber}"></a>
        </th:block>
        <a href="#">&raquo;</a>
    </div>
</body>
</html>