<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" type="image/x-icon" th:href="@{/img/dxc.ico}" />
    <link th:href="@{/css/base.css}" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/base.css">
    <meta charset="UTF-8">
    <title>登録</title>
</head>
<body class="tsuika">
<p>会員を登録します。</p>
    <button class="logout" style="margin-left:60% "><a href="/login">ログアウト</a></button>
    <form action="/Employee/create" method="POST">
        <table class="tsuika">
            <tr>
                <td>名前<span class="asterisk">*</span></td>
                <td><label>
                    <input type="text" name="employee_name" required/>
                </label></td>
            </tr>
            <tr>
                <td>メール<span class="asterisk">*</span></td>
                <td><label>
                    <input type="email" name="email" required/>
                </label></td>
            </tr>
            <tr>
                <td>電話番号<span class="asterisk">*</span></td>
                <td><label>
                    <input type="tel" name="phone_number" required/>
                </label></td>
            </tr>
            <tr>
                <td><button type="reset" onclick="history.back()">戻す</button></td>
                <td><button type="submit">確認</button></td>
            </tr>
        </table>
    </form>
</body>
</html>