<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログインページ</title>
</head>
<body>
<h2>ログインID及びパスワードを入力して下さい</h2>
<p id="errorText" style="color: red;"></p>
<form action="/authen" method="post">
    <label for="username">ログインID:</label>
    <input type="text" id="username" name="username" required>
    <label for="password">パスワード:</label>
    <input type="password" id="password" name="password" required>
    <button type="submit">ログイン</button>
</form>
</body>
</html>
