<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" type="image/x-icon" th:href="@{/img/dxc.ico}" />
    <link th:href="@{/css/register.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>登録</title>
</head>
<body>
<p style="color:red" th:utext="${message}"></p>
<h1>登録</h1>
<form action="/register" method="POST">
    <table>
        <tr>
            <td>ユーザー名前</td>
            <td><input type="text" name="username" minlength="10" required pattern="^\S+$"/></td>
        </tr>
        <tr>
            <td>パスワード</td>
            <td><input type="password" name="password" minlength="8" required/></td>
        </tr>
        <tr align="center">
            <td><button type="submit">OK</button></td>
        </tr>

    </table>
    <p>アカウントがありました <a href="/login">ロギング</a></p>
</form>
</body>
</html>